@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner-demo{
  height: 100px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.banner-demo__container{
  display: grid;
}

.banner-demo__container a {
  font-style: none;
  color: white;
}
